@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Arabic&family=Noto+Sans+Nandinagari&display=swap');

body {
  background-color: #b3dbf0 !important;
  font-family: "Montserrat", "Noto Sans", "Noto Sans Arabic", "Noto Sans Nandinagari", "sans-serif" !important;
}

h4 {
  color: #ecf0f4 !important;
}

@font-face {
  font-family: "Adobe NotDef";
  src: url(https://cdn.jsdelivr.net/gh/adobe-fonts/adobe-notdef/AND-Regular.ttf);
}

#locationnav li {
  white-space: wrap;
}

#userdefined div {
  width: 100%;
}

.modal-dialog {
  max-width: 100% !important;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
}

.fontdrop {
  padding: 30px;
  border-radius: 20px;
  outline: 3px dashed #ffffffff;
  outline-offset: -20px;
}

#fontbefore {
  background-color: #ddffdddd;
}

#fontafter {
  background-color: #ffdddddd;
}

.dragging {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
  outline: 5px dashed #ffffffff;
}

.status-Complete {
  background-color: #ddffdd !important;
}

.status-Supported {
  background-color: #a8f4a9 !important;
}

.status-Incomplete {
  background-color: #f1ebae !important;
}

.status-Unsupported {
  background-color: #ffdddd !important;
}

.status-None {
  background-color: #a8a8a8 !important;
}

.flex-scroll {
  height: 100vh;
  overflow-y: auto;
}

.script-0 {
  background-color: #f0f0f0;
  opacity: 0.5;
}

#language-content {
  background-color: #ebebed;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
}

.blockquote {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f0f0f0;
  font-size: 0.75em;
}
blockquote { padding: 5px; }

button.nav-link {
  margin-right: 10px;
  margin-bottom: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #888;
}

dd { margin: 10px 25px 10px 25px; }